<!-- NAVBAR -->
<nav class="navbar">
    
    
    <ul class="navbar-nav">
        
        <div class="nav-top">
            <div class="navbar-logo">
                <div class="navbar-title"><a href="/landing-page">Retrospect</a></div>
            </div>
            <li class="navbar-item"><a href="/landing-page" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="/shop" class="navbar-link">Shop</a> </li>
            <li class="navbar-item"><a href="/blog" class="navbar-link">Blog</a> </li>
            <li class="navbar-item"><a href="/size-chart" class="navbar-link">Size Chart</a> </li>
            <li class="navbar-item"><a href="/about-us" class="navbar-link">About Us</a></li>
        </div>
        <div class="nav-bot">
            <li class="navbar-item"><a href="/login" class="navbar-link">Login</a></li>
            <li class="navbar-item"><a href="/signup" class="navbar-link">Sign Up</a></li>
            <li class="navbar-item" hidden="true" aria-hidden="true">
                <a href="/shopping-cart" class="navbar-link">
                    <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16"> <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" fill="white"></path> </svg>  
                    Shopping Cart
                </a>
            </li>
        </div>
    </ul>
</nav>