<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login - Retrospect Apparel Co.</title>

      <!-- Script for Google Login -->
      <!-- <script src="https://accounts.google.com/gsi/client" async defer></script> -->
      
      <!-- STYLE LINKS -->
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700;display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Montserrat%3Ai%2Cbi%2C700%2C400display=swap" rel="stylesheet" nonce="">
      <link rel="icon" href="images/retrospect-icon.png" type="image/png">
  </head>
  <body>
      <!-- NAVBAR -->
      <%- include('partials/navbar') %>

      <!-- MAIN CONTENT -->
      <div class="login-main">

      <!-- ERROR MSG -->
      <% if(msg){ %>
      <div class="error-msg" id="error-msg">
        <%= msg %>
        <div class="error-msg-btn" onclick="hideMSG()">x</div>
      </div>
      <%} %>
        

        <div class="login-outer">
          <h1>Login</h1>
          <div class="login-wrapper">

            <div class="login-logo"></div>
              <form class="login-form" action="user-login" method="post">
                <label for="login-username">Username</label><br>
                <input type="text" name="username" value=""><br>
                <label for="login-password">Password</label><br>
                <input type="password" name="password" value=""><br>
                <input type="submit" name="login-submit" value="Login">
                <div class="row">
                  <div class="col-md-12">
                    <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="/auth/google"> 
                      <img src="https://img.icons8.com/color/16/000000/google-logo.png">   Login with Google</a>
                  </div>
              </div>
                <p>Or <a href="/signup" class="create-acc">Create an Account</a></p>
              </form>
              
                <!-- <a href="/auth/google">Login with Google</a> -->
                
                
              <!-- <div id="g_id_onload"
                  data-client_id="203874483088-1lnm4pvknegm2fv3keh6kt1c42va47o7.apps.googleusercontent.com"
                  data-callback="handleCredentialResponse">
              </div>
              <div class="g_id_signin" data-type="standard"></div>
              <a href="#" onclick="signOut();">Sign out</a> -->
          </div>
        </div>
      </div>

      <!-- Hides the error message -->
      <script>
        function hideMSG(){
          const msg = document.getElementById("error-msg");
          msg.style.display = "none";
          msg.style.backgroundColor = "rgba(160, 0, 0, 0.9)";
        }
      </script>
      <!-- <script>
        // Google Login get profile information Function
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
      </script>
      <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
      </script> -->
  </body>
</html>
