<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Size Chart - Retrospect Apparel Co.</title>

    <!-- STYLE LINKS -->
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500|Roboto:300,400,500,700|Source+Code+Pro:400,700;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat%3Ai%2Cbi%2C700%2C400display=swap" rel="stylesheet" nonce="">
    <link rel="icon" href="images/retrospect-icon.png" type="image/png">
</head>
<body>

    <!-- NAVBAR -->
    <% if(curr_user){                                    %>
    <%      if(curr_user.user_type == 0) {               %>
    <%-         include ('partials/user-navbar')    %>
    <%      } else if (curr_user.user_type > 0){         %>
    <%-          include ('partials/admin-navbar')  %>
    <%      }                                       %>
    <%} else{                                       %>
    <%-     include ('partials/navbar')             %>
    <%}                                             %>

    <!-- MAIN CONTENT -->
    <main>
        <section>
            <div class="banner">
                <img src="../images/banner-no-bg.png" alt="banner-img" class="banner-img">
            </div>    
        </section>
        <div class="sizechart-main">
            
            <h1>Size Chart</h1>
            <img src="images/sizechart.jpg" alt="sizechart 1" class="sizechart-image">
            <img src="images/sizechart2.jpg" alt="sizechart 2" class="sizechart-image">
            <div class="sizechart-image2"></div>

            <!-- FOOTER -->
            <%- include ('partials/footer-links') %>
        </div>
    </main>        
</body>
</html>
